[submodule "OpenSTL"]
	path = OpenSTL
	url = https://github.com/chengtan9907/OpenSTL.git
[submodule "slot-attention-video"]
	path = slot-attention-video
	url = https://github.com/google-research/slot-attention-video.git
[submodule "pytorch-mask-rcnn"]
	path = pytorch-mask-rcnn
	url = https://github.com/multimodallearning/pytorch-mask-rcnn.git
[submodule "google-research"]
	path = google-research
	url = https://github.com/google-research/google-research.git
[submodule "MESH"]
	path = MESH
	url = https://github.com/davzha/MESH.git
[submodule "SAVi-pytorch"]
	path = SAVi-pytorch
	url = https://github.com/junkeun-yi/SAVi-pytorch.git
[submodule "SAVi-PyTorch"]
	path = SAVi-PyTorch
	url = https://github.com/Genera1Z/SAVi-PyTorch.git
